<div class="card">
    <div class="card-header">
        <h2>Create Product</h2>
        <button type="button" class="btn btn-primary" routerLink="/">Back to listing</button>
    </div>
    <div class="card-body">
        <i>Input *NULL* for null value.</i>
        <div *ngIf="error" class="row justify-content-center">
            <div class="col-8 alert alert-danger">{{ error }}</div>
        </div>
        <form (ngSubmit)="onSubmit()" #productForm="ngForm">
            <div class="form-group row my-2 justify-content-center align-items-center">
                <div class="col-2 text-center fw-bold">
                    <label for="code">Code* :</label>
                </div>
                <div class="col-6">
                    <input type="text" [(ngModel)]="product.code" 
                           class="form-control" 
                           id="code" 
                           name="code" 
                           placeholder="P123"
                           required #code="ngModel">
                </div>
            </div>
            <div *ngIf="code.errors?.['required']" class="row justify-content-center text-danger">
                <div class="col-2"></div>
                <div class="col-6">
                    Code is required.
                </div>
            </div>
            <div *ngIf="code.value === '*NULL*'" class="row justify-content-center text-warning">
                <div class="col-2"></div>
                <div class="col-6">
                    Code cannot be null. The value will be saved as *NULL* instead.
                </div>
            </div>
            <div class="form-group row my-2 justify-content-center align-items-center">
                <div class="col-2 text-center fw-bold">
                    <label for="name">Name* :</label>
                </div>
                <div class="col-6">
                    <input type="text" [(ngModel)]="product.name" 
                           class="form-control" 
                           id="name" 
                           name="name" 
                           placeholder="Red Dinner Gown"
                           required #name="ngModel">
                </div>
            </div>
            <div *ngIf="name.errors?.['required']" class="row justify-content-center text-danger">
                <div class="col-2"></div>
                <div class="col-6">
                    Name is required.
                </div>
            </div>
            <div *ngIf="name.value === '*NULL*'" class="row justify-content-center text-warning">
                <div class="col-2"></div>
                <div class="col-6">
                    Name cannot be null. The value will be saved as *NULL* instead.
                </div>
            </div>
            <div class="form-group row my-2 justify-content-center align-items-center">
                <div class="col-2 text-center fw-bold">
                    <label for="category">Category* :</label>
                </div>
                <div class="col-6">
                    <input type="text" [(ngModel)]="product.category" 
                           class="form-control" 
                           id="category" 
                           name="category" 
                           placeholder="Fashion"
                           required #category="ngModel">
                </div>
            </div>
            <div *ngIf="category.errors?.['required']" class="row justify-content-center text-danger">
                <div class="col-2"></div>
                <div class="col-6">
                    Category is required.
                </div>
            </div>
            <div *ngIf="category.value === '*NULL*'" class="row justify-content-center text-warning">
                <div class="col-2"></div>
                <div class="col-6">
                    Category cannot be null. The value will be saved as *NULL* instead.
                </div>
            </div>
            <div class="form-group row my-2 justify-content-center align-items-center">
                <div class="col-2 text-center fw-bold">
                    <label for="brand">Brand :</label>
                </div>
                <div class="col-6">
                    <input type="text" [(ngModel)]="product.brand" 
                           class="form-control" 
                           id="brand" 
                           name="brand" 
                           placeholder="No Brand">
                </div>
            </div>
            <div class="form-group row my-2 justify-content-center align-items-center">
                <div class="col-2 text-center fw-bold">
                    <label for="type">Type :</label>
                </div>
                <div class="col-6">
                    <input type="text" [(ngModel)]="product.type" 
                           class="form-control" 
                           id="type" 
                           name="type" 
                           placeholder="Woman Dress">
                </div>
            </div>
            <div class="form-group row my-2 justify-content-center align-items-center">
                <div class="col-2 text-center fw-bold">
                    <label for="description">Description :</label>
                </div>
                <div class="col-6">
                    <textarea [(ngModel)]="product.description" 
                              class="form-control" 
                              id="description" 
                              name="description" 
                              placeholder="">
                    </textarea>
                </div>
            </div>
            <div class="d-grid mt-3 justify-content-center align-items-center">
                <button type="submit" 
                        [disabled]="!productForm.form.valid"
                        class="btn btn-primary">Save</button>
            </div>
        </form>
    </div>
</div>